**Data Cleaning dan Transformation**

In [1]:
import pandas as pd
from google.colab import drive

In [3]:
# Mount Google Drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [4]:
# reading the database
data = pd.read_csv("/content/drive/MyDrive/SEM6/Prak. Pembelajaran Mesin/materi3/students.csv")

# printing the top 10 rows
display(data.head(10))

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,grade
0,female,group B,bachelor's degree,standard,none,72,72.0,74,8.0
1,female,group C,some college,standard,completed,69,90.0,88,7.0
2,female,group B,master's degree,standard,none,90,95.0,93,7.0
3,male,group A,associate's degree,free/reduced,none,47,57.0,44,8.0
4,male,group C,some college,standard,none,76,78.0,75,8.0
5,female,group B,associate's degree,standard,none,71,83.0,78,7.0
6,female,group B,some college,NaN,completed,88,95.0,92,NaN
7,male,group B,some college,free/reduced,none,40,43.0,39,8.0
8,male,group D,high school,free/reduced,completed,64,64.0,67,NaN
9,female,group B,high school,free/reduced,none,38,60.0,50,9.0

In [15]:
# Show the dataset info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   float64
 7   writing score                1000 non-null   int64
 8   grade                        1000 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 70.4+ KB

In [6]:
# Missing Value Checking
data.isna().sum()

gender                          0
race/ethnicity                  0
parental level of education     0
lunch                          25
test preparation course         0
math score                      0
reading score                  24
writing score                   0
grade                          15
dtype: int64

In [9]:
# Filling Nan Value with mode
data['lunch'].fillna(data['lunch'].mode()[0], inplace=True)

In [11]:
# Filling Nan Value with mean
data.loc[:, 'reading score'] = data['reading score'].fillna(data['reading score'].mean())

In [12]:
# Filling Nan Value with mode
data.loc[:, 'grade'] = data['grade'].fillna(data['grade'].median())

In [13]:
# Check the information of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   float64
 7   writing score                1000 non-null   int64
 8   grade                        1000 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 70.4+ KB

**Perhatikan**

Alternatif lain selain handling missing value dengan nilai mean, median atau modus, kita juga dapat melakukan handling missing value dengan teknik droping (menghapus baris atau kolom dengan fungsi drop()), interpolasi, backwardfill ataupun forwardfill seperti dibawah ini.



*   Menggunakan teknik Interpolasi, teknik ini adalah teknik estimasi nilai yang hilang berdasarkan pola atau tren dari data yang ada. Teknik ini umum digunakan dalam data yang bentuknya  time series atau data numerik dengan hubungan kontinu. Teknik Interpolasi ini dapat dilakukan seperti dibawah ini.

Linear Interpolation Menghitung nilai yang hilang dengan membuat garis lurus antara dua titik data yang diketahui.




```
# Interpolate the Missing Value
data['nama_fitur'].interpolate(method='linear', inplace=True)
```




*   Menggunakan teknik backwardfill atau forwardfill, teknik backwardfill adalalh teknik handling missing value yang akan mengisi nilai Nan atau nilai kosong dengan nilai setelahnya sedangkan untuk forwardfill kebalikannya, teknik ini akan mengisi nilai Nan dengan nilai setelahnya contohnya seperti dibawah ini.



```
#backwardfill the missing value
data['nama_fitur'].fillna(method='bfill', inplace=True)
```


```
#forwardfill the missing value
data[‘’nama_fitur].filna(method= ‘bfill’, inplace = True)

```


*   Menggunakan teknik dropping, teknik ini perlu digunakan secara hati - hati dan penuh pertimbangan dikarenakan teknik ini akan menghapus data baris atau kolom Nan kita secara permanen, teknik ini umum digunakan jika data dengan jumlah Nan hanya sedikit ataupun data dengan jumlah Nan lebih banyak dari 50% data kita. Contohnya seperti dibawah ini.



```
# drop Nan Value
data.dropna(subset=['nama_fitur'], inplace=True)

Atau

# drop feature with more than 50% are Nan value
data.drop(columns=['nama_fitur'], inplace=True)
```